:root{
    --color-1: #FFFFFF;
    --color-2: #000000;
    --color-3: #141414;
    --color-4: #171717;
    --color-5: #2ECDFF;
    --color-6: #383838;
    --color-7: #2C2C2C;
    --color-8: #707070;
}
@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url(../storage/fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url(../storage/fonts/Roboto_Condensed/static/RobotoCondensed-Bold.ttf);
}